---
import BaseLayout from '../layouts/BaseLayout.astro'
import styles from './404.module.scss'
---

<BaseLayout title="404 — Not Found" hideSidebar>
  <section class={styles['not-found']}>
    <h1 class={styles['nf-code']}>404</h1>
    <p class={styles['nf-message']}>Uh-oh, you appear to be lost little lamb.</p>
    <a href="/" class={styles['nf-link']}>Take me home &rarr;</a>
  </section>
</BaseLayout>

<script>
  if (location.pathname !== '/404') {
    history.replaceState(null, '', '/404')
  }
</script>
