---
import styles from './LoadingAnimation.module.scss'

interface Props {
  hideSidebar?: boolean
}

const { hideSidebar = false } = Astro.props
---

<div class:list={[styles['loader-overlay'], { [styles['loader-overlay--bare']]: hideSidebar }]} id="loader" aria-hidden="true">
  <div class={styles['loader-scene']}>
    <div class:list={[styles['loader-ring'], styles['loader-ring--1']]}></div>
    <div class:list={[styles['loader-ring'], styles['loader-ring--2']]}></div>
    <div class:list={[styles['loader-ring'], styles['loader-ring--3']]}></div>
    <div class={styles['loader-core']}></div>
    <div class:list={[styles['loader-orbit'], styles['loader-orbit--1']]}><div class={styles['loader-dot']}></div></div>
    <div class:list={[styles['loader-orbit'], styles['loader-orbit--2']]}><div class={styles['loader-dot']}></div></div>
    <div class:list={[styles['loader-orbit'], styles['loader-orbit--3']]}><div class={styles['loader-dot']}></div></div>
  </div>
</div>
